Package: com.chr1s.hidesiriball
Name: HideSiriBall
Version: 1.0.0
Architecture: iphoneos-arm
Description: Hide the siri orb ball
Maintainer: Chr1s
Author: Chr1s
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
